<div class="ms-3">
  <h1>Stupid Coaching</h1>

  <div class="mb-3">
    <%=@question %>
    <%="——You" %>
  </div>

  <div id="answer" class="mb-3">
    <%=@answer %>
    <%="——Your coach"%>
  </div>

</div>
